.new-component{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:18px;
    padding: 20px;
    background-color:lightgrey;

    animation: fadeInAnimation 2s ease-in-out forwards
}

@keyframes fadeInAnimation{

from{
    opacity:0;
    transition: translateY(100px);
}
 to{
    opacity: 1;
    transition: translateY(0);
 }

}
